html {
  height: 100%;
  box-sizing: border-box;
  body {
    height: 100%;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
      Microsoft YaHei, Arial, sans-serif;
    #app {
      height: 100%;
      a {
        text-decoration: none;
      }
      .el-menu--collapse {
        span {
          height: 0;
          width: 0;
          visibility: hidden;
        }
        .el-submenu__icon-arrow {
          visibility: hidden;
        }
      }
      .el-breadcrumb {
        .el-breadcrumb__item {
          a {
            color: #303133;
            font-weight: normal;
            &:hover {
              color: #409eff;
            }
            &.router-link-exact-active {
              color: #97a8be;
              cursor: default;
            }
          }
          .el-breadcrumb__separator {
            user-select: none;
          }
        }
      }
    }
  }
}
